.movie-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: stretch;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mat-card-header {
  display: grid;
  grid-template-columns: 1fr;
}