<app-navbar></app-navbar>
<div style="display: flex;">
  <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
    <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
      <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <img src={{movie.ImagePath}} alt={{movie.Title}} />
    <mat-card-actions>
      <button mat-stroked-button color="accent" (click)="openGenreDialog(
        movie.Genre.Name, 
        movie.Genre.Description
      )">
        Genre
      </button>
      <button mat-stroked-button color="accent" (click)="openDirectorDialog(
        movie.Director.Name,
        movie.Director.Bio,
        movie.Director.Birth
      )">
        Director
      </button>
      <button mat-stroked-button color="accent" (click)="openSynopsis(
        movie.Title, 
        movie.ImagePath, 
        movie.Description)">
        Synopsis
      </button>
      <mat-icon color="accent" (click)="addToUserFavs(movie._id)">
        favorite</mat-icon>
    </mat-card-actions>
  </mat-card>
</div>