.user-info {
  padding-left: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;


}

.moviebox {
  padding-left: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 2rem;

}

.profile-body {
  background-color: white;
  width: 100%;
  height: 100%;
}